@model OnlineBanking.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount1.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount1.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendReceiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendReceiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
